[Unit]
Description=RaspiMIDIHub Automatic USB MIDI/Audio Hub
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/piaudio/raspimidihub
Environment="PATH=/usr/local/bin:/usr/bin:/bin"
Environment="PYTHONUNBUFFERED=1"
Environment="PYTHONPATH=/home/piaudio/raspimidihub/src"
ExecStart=/usr/bin/python3 -m raspimidihub
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
